{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="profile-card">
    <h2>User Profile</h2>
    <p><strong>Username:</strong> {{ user_profile.user.username }}</p>
    <p><strong>Birthdate:</strong> {{ user_profile.user.tuulgan_kun }}</p>
    <p><strong>Info:</strong><br> {{ user_profile.info|linebreaks }}</p>
    <img src="{{ user_profile.profile_picture.url }}" alt="Student Photo" class="student-photo">
    {% if user_profile.website %}
        <p><strong>Website:</strong> <a href="{{ user_profile.website }}" target="_blank">{{ user_profile.website }}</a></p>
    {% endif %}
</div>
{% endblock %}

